/* Light mode styles */
body.light-mode {
    background-color: #f4f4f4;
    color: #333;
}

header.light-mode {
    background-color: #eaeaea;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

header.dark-mode {
    background-color: #1a1a1a;
}
